.title_migration{padding-bottom: 6px; border-bottom: 1px solid #000;}

.title_plugin span{border-bottom: 1px solid #000;}

.title_plugin {margin-bottom: 30px !important;text-align: right;}

#prev_logo_optimizaclick{background-repeat: no-repeat; margin-top: 8px;background-position: center; width: 190px; height: 50px; background-color: #cbcbcb}

.form-table td{vertical-align: top !important;}

.centered th, .centered td{text-align: center !important;}

.centered td:first-child{text-align: left !important;}

.state_ok, .state_suspect, .state_bad{font-weight: bold;}

.state_ok{color: green;}

.state_suspect{color: orange;}

.state_bad{color: red;}

#scan_table th, #plugins_table th, #backups_table th{background-color: grey; color: white;padding: 18px 0px;}

#scan_table td, #scan_table th, #plugins_table td, #plugins_table th, #backups_table td, #backups_table th{border: 1px solid grey;}